{% extends 'base.html.twig' %}

{% block title %}Liste etablissements{% endblock %}

{% block body %}
    <div class="etablishment__header container">
        <div class="filiere-filter">
            {{ include('etablishment/_filiere_select.html.twig', {isSelectSubmit: true}) }}
        </div>

        <form action="#" class="form-btn-inside etablishment__search-form">
            <input type="text" class="form-control" placeholder="Chercher etablissements">
            <button class="btn-inside"><i class="bi bi-search"></i></button>
        </form>

        <drop-down class="dropdown drop-right">
            <a href="#" class="dropdown-trigger btn"><i class="bi bi-filter-circle icon"></i>Filtrer</a>
            <div class="dropdown-content">
                <h5 class="text-primary mb-2">Filter le resultats par :</h5>
                <form action="">
                    <div class="form-group" id="filiere-filter-mobil">
                        <label for="filiere">Filières</label>
                        {% include('etablishment/_filiere_select.html.twig') %}
                    </div>

                    <div class="form-group">
                        <label for="province">Provinces</label>
                        <select name="province" id="filter-province" class="form-select">
                            <option value="">Tous les provinces</option>
                            {% for province in provinces %}
                                {% if filters.province is defined and province == filters.province %}
                                    <option value="{{ province }}" selected>{{ province }}</option>
                                {% else %}
                                    <option value="{{ province }}">{{ province }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn-secondary">Filter les resultats</button>
                </form>
            </div>
        </drop-down>
    </div>

    <div class="container">
        <div class="etablissement__listing-header">
            {% if filters %}
                <div class="filter-box">
                    <div class="filter-box-content">
                        <div class="flex space-between">
                            <div class="text-strong">Filtrer par : </div>
                            <a href="{{ path('etablishment_home')}}" class="underlined"><i class="bi bi-arrow-counterclockwise icon"></i>Réinitialiser</a>
                        </div>
                        <div>
                                {% for key, filter in filters %}
                                    <span class="badge-tierciary">{{ key}}: {{ filter }}</span>
                                {% endfor %}
                        </div>
                    </div>
                </div>
                <h2 class="text-primary">Resultat{{etablishments.getTotalItemCount > 1 ? 's' : '' }} : {{ etablishments.getTotalItemCount }}</h2>
            {% else %}
                <h2 class="text-primary">Tous les établissements</h2>
            {% endif %}

        </div>
        
        {% if etablishments.getTotalItemCount > 0 %}
            <div class="grid__auto-fill" style="--min-column: 250px; --gap: 20px">
                    {% for etab in etablishments %}
                        {% include "etablishment/_card.html.twig" %}
                    {% endfor %}
            </div>
            <div class="text-center mt-5">
                {{ knp_pagination_render(etablishments)}}
            </div>
        {% else %}
            <h1 class="text-primary">:( Aucun résultat</h1>
        {% endif %}
    </div>

{% endblock %}
