{% extends 'base.html.twig' %}

{% block title %}Etablissement profil{% endblock %}

{% block body %}
    {{ include('profil/_profil_header.html.twig', {submenu: 'generalite'}) }}

    <div class="profil__body">
        <div>
            <div class="profil__info">
                <div class="profil__info-header">
                    <h4><i class="bi bi-layers icon"></i>Nos formations</h4>
                    <a href="{{ path('profil_show_formation', {id: etablishment.id})}}" class="btn btn-small">Voir plus</a>
                </div>
                <div class="profil__box">
                    <div class="text-strong">Formations proposé :</div>
                    <ul>
                        {% for key, type_formation in etablishment.formations.formation_types %}
                            <li class="badge-{{ etablishment.formations.getFormationTypeColor(key) }}">{{ type_formation }}</li>
                        {% endfor %}
                    </ul>
                    <div class="mt-2 mb-2"><span class="text-strong">Condition d'admission : </span><br>Concours, Sélection de dossier</div>
                    <table class="table table-bordered formation__table">
                        <thead>
                            <th>Filières</th>
                            <th>Parcours</th>
                            <th>Diplomes réquis (BACC)</th>
                        </thead>
                        <tbody>
                            {% set departments = etablishment.formations.departments %}
                            {% for department in departments %}
                                <tr>
                                    <td><a href="./formation.html#communication">{{ department.filiere.filiere }}</a></td>
                                    <td>
                                        <ul class="list">
                                            {% for parcour in department.parcours %}
                                                <li>{{ parcour.parcour }}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        {% for diplomaRequired in department.diplomaRequired %}
                                            <span class="badge-primary">{{ department.diplomaRequiredLists[diplomaRequired] }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="profil__info">
                <div class="profil__info-header">
                    <h4><i class="bi bi-journal-bookmark icon"></i>A propos de nous</h4>
                    <a href="#" class="btn btn-small">Voir plus</a>
                </div>
                <div class="profil__box">
                    <p>{{ etablishment.about}}..</p>
                </div>
            </div>

            <div class="profil__info">
                <div class="profil__info-header">
                    <h4><i class="bi bi-map icon"></i>Nos coordonnées</h4>
                    <a href="#" class="btn btn-small">Voir plus</a>
                </div>
                <div class="profil__box">
                    <h5>Contact</h5>
                    <table class="table mt-2">
                        <tbody>
                            <tr></tr>
                            <tr>
                                <td class="text-primary"><i class="bi bi-telephone-plus icon"></i>Téléphones</td>
                                <td>
                                    <ul>
                                        <li>{{ contact.phone1 }}</li>
                                        {% if contact.phone2 %}
                                            <li>{{ contact.phone2 }}</li>
                                        {% endif %}
                                        {% if contact.phone3 %}
                                            <li>{{ contact.phone3 }}</li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            {% if contact.email %}
                                <tr>
                                    <td class="text-primary"><i class="bi bi-envelope icon"></i>Email</td>
                                    <td>{{ contact.email }}</td>
                                </tr>
                            {% endif %}
                            
                            {% if contact.website %}
                                <tr>
                                    <td class="text-primary"><i class="bi bi-globe icon"></i>Siteweb</td>
                                    <td>https://etablishment.com</td>
                                </tr>
                            {% endif %}
                            
                            {% if contact.facebook %}
                                <tr>
                                    <td class="text-primary"><i class="bi bi-facebook icon"></i>Facebook</td>
                                    <td>Université privée hay</td>
                                </tr>
                            {% endif %}
                            
                            {% if contact.whatsapp %}
                                <tr>
                                    <td class="text-primary"><i class="bi bi-telephone icon"></i>Whatsapp</td>
                                    <td>+ 261 32 28 697 95</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="profil__sidebar">
            {% include "profil/_profil_sidebar.html.twig" %}
        </div>
    </div>
{% endblock %}
